Package: com.404meemr.wifitap
Name: WifiTap
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Tap on the wifi icon in the status bar to toggle WiFi on and off :D
Maintainer: 404meemr
Author: 404meemr
Section: Tweaks
